.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form {
  height: 500px;
  width: 600px;
  text-align: center;
}

input {
  width: 213px;
  border-radius: 3px;
  border: none;
  height: 60px;
  margin: 10px;
}

#how {
  width: 450px;
}

.form button {
  width: 455px;
  height: 60px;
  border-radius: 3px;
  border: none;
  background-color: royalblue;
  margin-bottom: 10px;
}
