nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px 0 30px;
}

h1 {
  margin: 0;
}

nav button {
  width: 70px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid;
  background-color: transparent;
}
